@use 'helpers/mixin' as *;
@use 'helpers/variebles' as *;
@use 'helpers/color' as *;

.elements {
  &__list {
    list-style: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.2rem, 1fr));
    justify-content: center;
    gap: 16px;
    padding: 0;
    width: 100%;
  }

  &__list-item {
    position: relative;
    width: 100%;
    border-radius: $border-radius;
    background-color: $bg-form;
    box-shadow: $shadow;
    cursor: pointer;

    &:hover .elements__button-delete {
      opacity: 1;
    }
  }

  &__list-photo {
    width: 100%;
    min-width: 33.2rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
  }

  &__button-delete {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    background-image: url(../../../img/delete-card-icon.svg);
    background-size: cover;
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    // display: none;
    @include animation();
    opacity: 0;
  }

  &__description-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 1.6rem 2.4rem;
    color: $main-text-color;
    min-height: 22.3rem;
  }

  &__title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.6rem;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 3.2rem;
    flex: 1 1 auto;
    overflow: hidden;
    max-height: 8rem;
    outline: none;
  }

  &__price {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 600;
    outline: none;
  }
}
